.heading {
font-size: 24px;
width: 100%;
margin: 0px;
box-shadow: 5px 5px 5px pink;
}

.note {
font-size: 17px;
color: black;
}

.footer {
position: fixed;
color: aquamarine;
background-color: black;
bottom: 0;
width: 100%;
text-align: center;
line-height: 3;
}

canvas {
border-radius: 20px;
box-shadow: 5px 5px 5px pink;
border: 5px solid black;
}